version: '3.8'

services:
  frontend:
    image: muqeem112/react-frontend:latest
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - REACT_APP_API_URL=http://20.205.24.111:5000
    depends_on:
      - backend
    networks:
      - app-network

  backend:
    image: muqeem112/react-backend:latest
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    environment:
      - NODE_ENV=production
      - PORT=5000
    networks:
      - app-network

networks:
  app-network:
    driver: bridge